.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

[data-theme='dark'] .features {
  background-color: var(--ifm-background-color);
}

.featureIcon {
  font-size: 4rem;
  line-height: 1;
  margin-bottom: 1.25rem;
}
